<!DOCTYPE html>
<html>

<head>
    <title>Password Score</title>
</head>
<style>
    #entpass{
        font-size: 6rem;
        text-align: center;
        font-family: Agency FB;
        margin-bottom: 0;
    }
    #score{
        font-size: 6rem;
        text-align: center;
        font-family: Agency FB;
    }
</style>

<body>
    <div id="content">
        <p id="entpass">Entered <span style="color:blue">Password:</span><br> <span style="font-family: sans-serif;font-size: 3rem;">{{jod}}</span></p>
        <p id="score">Password Score: <span style="color:blue">{{god}}%</span></p>
    <div>
</body>

</html>